/*
    Auteurs : Ania Marostica, Liliana Santos
    Projet : BlindTest/ Quiz
    Version: 1.0
*/
*{
    margin: 0;
    padding: 0;
}

body{
    width: auto;
    height: auto;
    background-image: url("../images/background.jpg");
    background-color: #cccccc;
    background-size: 100%;

  
}

/* Red border */
hr {
    border-top: 1px solid black;
    margin-top: 5%;
    
   
  }

p{
    margin-top: 5%;

    text-align: center;
}


header .title{
    font-size: 28px;
    font-weight: 700;
    color:#fff;
    float: left;
}

/* -------> header <------- */
header{
   position: fixed;
   top:0;
   left: 0;
   width: 100%;
   padding: 25px 5px;
   background: linear-gradient(to top, transparent, rgba(0,0,0,0.6));
}

header .nav{
    float: right;
    margin-top: 5px;
}

header ul li{
    display: inline-block;
}
header ul li a{
   text-decoration: none;
   font-size: 16px;
   color:#fff;
    margin: 0 25px;
    font-weight: 300;
    letter-spacing: 1px;
}

/* -------> header <------- */

table{
    margin: auto;
    margin-top: 60px;
    margin-left: 460px;
}

td{
    text-align: center;
}
/* -------> button <------- */

button{
    height: 250px;
    width: 300px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 100px;
    margin-bottom: 30px;
    
}

.container {
    position: relative;
    width: 50%;
  }
  
.image {
    display: block;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: #333333;
  }
  
.container:hover .overlay {
    opacity: 1;
  }
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
img{
    height: 250px;
    width: 300px;
}

/* -------> button <------- */