*{
    margin: 0;
    padding: 0;
}

body{
    width: auto;
    height: auto;
    background: linear-gradient(to top right, #dfb7ff, #FFB0EA, #FFB1C4,#FFC099,#FFDB77,#F9F871);;   
    font-family: 'Lato', sans-serif;
}


/* -------> header <------- */
header .title{
    font-size: 28px;
    font-weight: 700;
    color:#fff;
    float: left;
}

header{
   position: fixed;
   top:0;
   left: 0;
   width: 100%;
   padding: 25px 5px;
   background: linear-gradient(to top, transparent, rgba(0,0,0,0.6));
   
}

header .nav{
    float: right;
    margin-top: 5px;
}

header ul li{
    display: inline-block;
}
header ul li a{
   text-decoration: none;
   font-size: 16px;
   color:#fff;
    margin: 0 25px;
    font-weight: 300;
    letter-spacing: 1px;
}
/* -------> header <------- */

form{
   
}
.img{
    height: 400px;
    width: 400px;
}