*{
    margin: 0;
    padding: 0;
}

body{
    width: auto;
    height: auto;
    background: linear-gradient(to top right, #dfb7ff, #FFB0EA, #FFB1C4,#FFC099,#FFDB77,#F9F871);;   
    font-family: 'Lato', sans-serif;
}


/* -------> header <------- */
header .title{
    font-size: 28px;
    font-weight: 700;
    color:#fff;
    float: left;
}

header{
   position: fixed;
   top:0;
   left: 0;
   width: 100%;
   padding: 25px 5px;
   background: linear-gradient(to top, transparent, rgba(0,0,0,0.6));
   
}

header .nav{
    float: right;
    margin-top: 5px;
}

header ul li{
    display: inline-block;
}
header ul li a{
   text-decoration: none;
   font-size: 16px;
   color:#fff;
    margin: 0 25px;
    font-weight: 300;
    letter-spacing: 1px;
}
/* -------> header <------- */

/* -------> slider <------- */
.load{
    animation: slide 2s;
}

.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    width: 100%;
    height: 100vh;
    animation: slide 30s infinite;
   
}


@keyframes slide{
    0%{
        background-image: url('../images/animes.jpg');
    }
    20%{
        background-image: url('../images/animes.jpg');
    }
    20.01%{
        background-image: url('../images/histoire.jpg');
    }
    40%{
        background-image: url('../images/histoire.jpg');
    }
    40.01%{
        background-image: url('../images/manette.jpg');
    }
    60%{
        background-image: url('../images/manette.jpg');
    }
    60.01%{
        background-image: url('../images/netflix.png');
    }
    80%{
        background-image: url('../images/netflix.png');
    }
    80.01%{
        background-image: url('../images/canal-1209808_1920.jpg');
    }
    100%{
        background-image: url('../images/canal-1209808_1920.jpg');
    }
}

/* -------> slider <------- */

/* -------> button <------- */

.button{
    position: absolute;
    bottom: 0;
    height: 150px;
    padding-left: 600px;
    padding-right: 600px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link_wrapper{
    position: relative;
}

.link_wrapper a{
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #fff;
    transition: all .35s;
}

.icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #fff;
    transition: all .35s;
}

.link_wrapper a:hover{
    width: 200px;
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.link_wrapper a:hover + .icon{
    border: 3px solid #fff;
    right: -25%;
}
/* -------> button <------- */
