*{
    margin: 0;
    padding: 0;
}

body{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


/* -------> header <------- */
header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 25px 5px;
    background: linear-gradient(to top, transparent, rgba(0,0,0,0.6));
}

header .nav{
    float: right;
    margin-top: 5px;
}

header ul li{
    display: inline-block;
}
header ul li a{
    text-decoration: none;
    font-size: 16px;
    color:#fff;
    margin: 0 25px;
    font-weight: 300;
    letter-spacing: 1px;
}
/* -------> header <------- */

table {
    margin: 80px auto;
}

input{
    margin-top: 20px;
}

input[type=text]{
    background-color: white;
    width: 60%;
    height: 30px;
    border: none;
    border-bottom: 3px solid black;
    margin-right: 100px;

}

input[type=text]:focus{
    border-bottom-color: red;
    outline: none;
}

.submit{
    margin: 10px;
    padding: 9px 25px;
    background: black;
    color:white;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 10px;
}
.reset{
    margin: 10px;
    padding: 8px 35px;
    background: black;
    color:white;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 10px;
}

.infoJeu{
    font-size: 20px;
}