/*
    Auteurs : Ania Marostica, Liliana Santos
    Projet : BlindTest/ Quiz
    Version: 1.0
*/
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: auto;
}

.row{
    text-align: center;
    width: 100%;
    margin: 0px !important;
}
.col{
    padding: 0px !important;
}
.nav-bar{
    width:100%;
}
.nav-link{
    font-size:30px;
    color:white;
}
.nav__link a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
}
.header {
    font-size: 18px;
    font-weight: 700;
    color:#fff;
    float: left;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #624194;
}
/* -------> titres<------- */
h1{
    text-align: center;
    margin-bottom: 100px;
}
h2{
    text-align: center;
    margin-bottom: 50px;
}
/* -------> titres<------- */

/* -------> input submit <------- 
.accueil{
    margin: 10px;
    margin-left: 340px;
    padding: 9px 25px;
    background: black;
    color:white;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 10px;
}
.reset{
    margin: 10px;
    padding: 8px 35px;
    background: black;
    color:white;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 10px;
}

-------> input submit <------- */