/*
    Auteurs : Ania Marostica, Liliana Santos
    Projet : BlindTest/ Quiz
    Version: 1.0
*/
*{
    margin: 0;
    padding: 0;
}

body{
    width: auto;
    height: auto;
}

.row{
    text-align: center;
    width: 100%;
    margin: 0px !important;
}
.col{
    padding: 0px !important;
}
.nav-bar{
    width:100%;
}
.nav-link{
    font-size:30px;
    color:white;
}
.nav__link a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
}
.header {
    font-size: 18px;
    font-weight: 700;
    color:#fff;
    float: left;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #624194;
}

/* -------> header <------- 

.nav__link a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
}
 -------> header <------- 

table {
    margin: 140px auto;
}

-------> input text <------- 
input{
    margin-top: 20px;
}

input[type=text]{
    background-color: white;
    width: 500px;
    height: 30px;
    border: none;
    border-bottom: 5px solid black;
    margin-right: 100px;

}

input[type=text]:focus{
    border-bottom-color: steelblue;
    outline: none;
}
 -------> input text <------- 
-------> input submit <------- 
.submit{
    margin: 10px;
    padding: 9px 25px;
    background: black;
    color:white;
    border: 3px solid steelblue;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 10px;
}
.reset{
    margin: 10px;
    padding: 8px 35px;
    background: black;
    color:white;
    border: 3px solid steelblue;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 10px;
}
 -------> input submit <------- 


.infoJeu{
    font-size: 25px;
    color: white;
}

td{
    padding-bottom: 20px;
}

.envoyer td{
    padding-top: 25px;

}

ul li{
    list-style: none;
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: 3px solid gray;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

input[type="radio"]:checked:before {
    background: #624194;
    
}

input[type="radio"]:checked {
  border-color:#624194;
}

.radio__label {
    margin-right: 80px;
    margin-left: 20px;
    font-weight: normal;
    font-size: 120%;
}

.checkbox label {
    margin-bottom: 15px;
}

.radio__container {
    margin-bottom: 0px;
}

.nbQuestion{
    width: 50%;
    float: left;
    font-size: 25px;
}
.score{
    width: 50%;
    float: right;
    clear: right;
    font-size: 25px;
}
.questionImg{
    font-size: 40px;
    color: white;
    max-width: 100%;
    height: auto;
    text-align: center;
}

*/
